@(persons: Seq[Person], paging: Paging)

@main("Welcome to Play") {
  <div>Person List
    <ul>
      @for(person <- persons) {
        <li>person id: @{person.id}</li>
      }
    </ul>
  </div>

@*  Pagination  *@
  <div>
    @if(!paging.isFirst) {
      <a href="@controllers.routes.PersonController.showList(1L)">1</a>
    }

    @paging.page

    @if(!paging.isLast) {
      <a href="@controllers.routes.PersonController.showList(paging.lastPage)">
        @paging.lastPage
      </a>
    }
  </div>
}
